$base-dark: #141414;
$base-dark2: #1f1f1f;
$base-light: #b2b2b2;
$accent: #1b6de0;
$primary-dark: #061f43;
$primary: #1b6de0;
$primary-light: #c8daf4;

$background: $base-dark;
$background-secondary: $base-dark2;
$font-color: $base-light;

$extra-networks-sidenav-width: 188px;
